body {

    background:url(/images/background.png);

    background-repeat: no-repeat;

    background-attachment:fixed; //不重复

    background-size: cover;      //填充

    background-position:50% 50%;

}

.header-inner {
  // 也可以同时定义背景色
  // background: #ddd 
  // 透明度
  // opacity: 0.8;
}
// sidebar侧边工具栏样式属性
.sidebar{
    // 动画过渡时间
	transition-duration: 0.4s;
    // 透明度
	opacity: 0.8
}
// 标题样式
.posts-expand .post-title-link {
	// 设置字体颜色
	color: #222;
}

// 文章版块样式
.post-block {
    width: 85%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
    border: 1px solid #f0f0f0;  /* 添加细边框 */
    padding: 50px;
}